.shopPage {
    font-family: Arial, sans-serif;
  }
  
  .header {
    background: white;
    background-size: cover;
    background-position: center;
    color: black;
  }
  
  .textCenter {
    background: white;
    color: black;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .header h1 {
    margin-top: 80px;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
  